@font-face {
	font-family: 'ProximaNova';
	src: local('Proxima Nova Thin'), local('ProximaNovaT-Thin'),
			url('../fonts/proxima-nova/ProximaNovaT-Thin.woff2') format('woff2'),
			url('../fonts/proxima-nova/ProximaNovaT-Thin.woff') format('woff'),
			url('../fonts/proxima-nova/ProximaNovaT-Thin.svg#ProximaNovaT-Thin') format('svg');
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNova';
	src: local('Proxima Nova Light'), local('ProximaNova-Light'),
			url('../fonts/proxima-nova/ProximaNova-Light.woff2') format('woff2'),
			url('../fonts/proxima-nova/ProximaNova-Light.woff') format('woff'),
			url('../fonts/proxima-nova/ProximaNova-Light.svg#ProximaNova-Light') format('svg');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'ProximaNova';
	src: local('Proxima Nova Regular'), local('ProximaNova-Regular'),
			url('../fonts/proxima-nova/ProximaNova-Regular.woff2') format('woff2'),
			url('../fonts/proxima-nova/ProximaNova-Regular.woff') format('woff'),
			url('../fonts/proxima-nova/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'ProximaNova';
	src: local('Proxima Nova Semibold'), local('ProximaNova-Semibold'),
			url('../fonts/proxima-nova/ProximaNova-Semibold.woff2') format('woff2'),
			url('../fonts/proxima-nova/ProximaNova-Semibold.woff') format('woff'),
			url('../fonts/proxima-nova/ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'ProximaNova';
	src: local('Proxima Nova Bold'), local('ProximaNova-Bold'),
			url('../fonts/proxima-nova/ProximaNova-Bold.woff2') format('woff2'),
			url('../fonts/proxima-nova/ProximaNova-Bold.woff') format('woff'),
			url('../fonts/proxima-nova/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
	
}
@font-face {
	font-family: 'ProximaNova';
	src: local('Proxima Nova Extrabold'), local('ProximaNova-Extrabld'),
			url('../fonts/proxima-nova/ProximaNova-Extrabld.woff2') format('woff2'),
			url('../fonts/proxima-nova/ProximaNova-Extrabld.woff') format('woff'),
			url('../fonts/proxima-nova/ProximaNova-Extrabld.svg#ProximaNova-Extrabld') format('svg');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'ProximaNova';
	src: local('Proxima Nova Black'), local('ProximaNova-Black'),
			url('../fonts/proxima-nova/ProximaNova-Black.woff2') format('woff2'),
			url('../fonts/proxima-nova/ProximaNova-Black.woff') format('woff'),
			url('../fonts/proxima-nova/ProximaNova-Black.svg#ProximaNova-Black') format('svg');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}